
<!-- Start About Top -->
<div class="about-top">
    <div class="container">
        <div class="row d-flex align-items-center justify-content-between d-sm-column">
            <div class="col-md-6">
                <div class="about-img" data-aos="fade-up" data-aos-delay="0">
                    <div class="img-responsive">
                        <img style="width:550px;height:280px"src="~/assets/images/about/img-about.png" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="content" data-aos="fade-up" data-aos-delay="200">
                    <h3 class="title">SMART MOBILE</h3>
                    <h5 class="semi-title">
                        We believe that everyone need a "Companion"
                    </h5>
                    <p>
                        Trên hành trình của chúng tôi tại Smart Mobile, chúng tôi luôn tập trung vào việc cải thiện cuộc sống của khách hàng thông qua công nghệ di động.
                        Tầm nhìn của chúng tôi xuất phát từ thực trạng mà nhiều người trải qua: sự phụ thuộc ngày càng lớn vào điện thoại di động trong cuộc sống hàng ngày.
                        Tương lai của chúng tôi đầy triển vọng. Chúng tôi cam kết tiếp tục đổi mới và cải tiến để mang đến những sản phẩm và dịch vụ tốt nhất cho khách hàng. 
                        Sứ mệnh của chúng tôi là tạo nên một thế giới kết nối hơn, thông qua công nghệ di động tiên tiến. Hãy cùng chúng tôi xây dựng tương lai thú vị và hứa hẹn này.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End About Top -->
<!--  Start  Team Section    -->
<div class="team-section section-top-gap-100 secton-fluid section-inner-bg">
    <!-- Start Section Content Text Area -->
    <div class="section-title-wrapper" data-aos="fade-up" data-aos-delay="0">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-content-gap">
                        <div class="secton-content text-center">
                            <h3 class="section-title">Meet Our Team</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Section Content Text Area -->
    <div class="team-wrapper">
        <div class="container">
            <div class="row mb-n6">
                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="0">
                        <div class="team-img">
                            <img class="img-fluid" src="~/assets/images/team/Thinh.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">thinh.dinh</h6>
                            <span class="team-title">Member 1</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="200">
                        <div class="team-img">
                            <img class="img-fluid" src="~/assets/images/team/Duy.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">duy.le</h6>
                            <span class="team-title">Member 2</span>
                            
                        </div>
                    </div>
                </div>
                <div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="400">
                        <div class="team-img">
                            <img class="img-fluid" src="~/assets/images/team/Phuoc.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">phuoc.kieu</h6>
                            <span class="team-title">Member 3</span>
                            
                        </div>
                    </div>
                </div>
                @*<div class="col-xl-3 mb-5">
                    <div class="team-single" data-aos="fade-up" data-aos-delay="600">
                        <div class="team-img">
                            <img class="img-fluid" src="~/assets/images/team/ChatGPT.png" alt="">
                        </div>
                        <div class="team-content">
                            <h6 class="team-name font--bold mt-5">OPEN AI</h6>
                            <span class="team-title">Member 4</span>
                           
                        </div>
                    </div>
                </div>*@
            </div>
        </div>
    </div>
</div>
<style>
    .row.mb-n6 {
        display: flex;
        justify-content: center; /* Horizontally center content */
        align-items: center; /* Vertically center content */
    }
</style>
<!--   End  Team Section   -->


